# Dependencies
node_modules
package-lock.json
yarn.lock

# Build output
build
dist
.next
out

# Cache
.cache
.parcel-cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Other
coverage
.env
.env.local
